.content__main__body
  .content__main__body__avater
    = image_tag tweet.user.top_icon, width:48, height:48, class: "content__main__body__avater__image"
  .content__main__body__content
    .content__main__body__content__over
      .content__main__body__content__over__name
        = tweet.user.name
      .content__main__body__content__over__nickname
        = "@" + tweet.user.nickname
      .content__main__body__content__over__timestamp
        = time_ago_in_words(tweet.created_at)+"å‰"
      .content__main__body__content__over__menu
        %i.fa.fa-angle-down{"aria-hidden" => "true"}
    .content__main__body__content__middle
      .content__main__body__content__middle__text
        = tweet.body
      .content__main__body__content__middle__image
        = image_tag tweet.image1, width:300, height:200
    .content__main__body__content__under
      .content__main__body__content__under__reply
        %i.fa.fa-comment-o.content__main__body__content__under__reply__icon{"aria-hidden" => "true"}
        .content__main__body__content__under__reply__count
          2
      .content__main__body__content__under__retweet
        %i.fa.fa-retweet.content__main__body__content__under__retweet__icon{"aria-hidden" => "true"}
        .content__main__body__content__under__retweet__count
          4
      .content__main__body__content__under__like
        %i.fa.fa-heart-o.content__main__body__content__under__like__icon{"aria-hidden" => "true"}
        .content__main__body__content__under__like__count
          9
      .content__main__body__content__under__message
        %i.fa.fa-envelope-o.content__main__body__content__under__message__icon{"aria-hidden" => "true"}
